<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/js/bootstrap.min.js">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <link rel="stylesheet" href="/vendor/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/vendor/dist/assets/owl.theme.default.min.css">
    {{#if showTest}}
        <link rel="stylesheet" href="/vendor/mocha.css">
    {{/if}}
    <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
    <title>TrexStores</title>
    {{{_sections.head}}}
</head>
<body>
    <!-- TO USE SESSIONS TO DISPLAY FLASH MESSAGES-->
    {{#if flash}}
        <div class="alert alert-dismissable alert-{{flash.type}}">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>{{flash.header}}</strong> {{flash.message}}
        </div>
    {{/if}}
    {{{ body }}}
<script src="/javascripts/app.js"></script>
{{!-- owl carousel dependencies --}}
<script src="/vendor/dist/owl.carousel.min.js"></script>
<script src="/vendor/js/jquery.min.js"></script>
<script src="/javascripts/sb-admin-2.js"></script>
{{!-- bootstrap dependencies --}}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>   
<!--PAGE TESTING-->
{{{_sections.javascripts}}}
{{#if showTest}}
    <div class="id"></div>
    <script src="/vendor/mocha.js"></script>
    <script src="/vendor/chai.js"></script>
    <script>
        mocha.ui('tdd')
        var assert = chai.assert        
    </script>
    <script src="/qa/test-global.js"></script>
    {{#if pageTestScript}}
        <script src="{{ pageTestScript}}"></script>
    {{/if}}
    <script>mocha.run()</script>
{{/if}}
</body>
</html>