 <header class="about-header p-0 my-mx-0">
        <nav class="navbar navbar-dark">
            <a class="navbar-brand">trEX stores</a>
            <a href="/" class="text-white btn btn-outline-light">
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 576 512" class="text-white">
                <path d="M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 
                16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67
                148.26a12.19 12.19 0 0 0-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12
                12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15
                301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93z"/>
                </svg>
            </a>
        </nav>
</header>
<div class="container-fluid">
  <div class="row justify">
    {{#each products}}
      <div class="col-sm-6 col-md-3 mt-4">
        <img src="{{image}}" alt="...." class="img-fluid mt-3" style="height: 50%;width: 100%; object-fit: cover;">
        <div class="text-center" style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
        ;font-weight:bold;font-size: 15px;">
          <p class="text-center">{{name}} <span class="badge badge-info badge-sm">{{tags}}</span></p>
          <p class="text-center">Price: ${{price}}.00</p>
        </div>
        <div class="color-section">
            <p style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-style:normal">Available color :</p>
            <div class="text-center" style="width: 100%;height:10px; background-color: {{color}};"></div>
        </div>
        <div class="mt-2">
          <a href="/product_view?id={{id}}" class="btn btn-block btn-outline-dark">View Product</a>
        </div>
      </div>
    {{/each}}
  </div>
</div>
